# Starship prompt configuration
# https://starship.rs/config/

# Prompt format
format = """
$directory\
$git_branch\
$git_status\
$nodejs\
$python\
$rust\
$cmd_duration\
$line_break\
$character"""

[directory]
truncation_length = 3
truncate_to_repo = true

[git_branch]
symbol = " "

[git_status]
format = '([$all_status$ahead_behind]($style) )'

[nodejs]
symbol = " "

[python]
symbol = " "

[character]
success_symbol = "[❯](green)"
error_symbol = "[❯](red)"

[cmd_duration]
min_time = 2000
format = "[$duration]($style) "
